<div class="dashboard-content-one">
  <div class="card height-auto">
    <div class="card-body" [formGroup]="form">
      <div class="heading-layout">
        <h3 class="mb-3">Dynamic Form Creation</h3>
      </div>
      <div formArrayName="inputs">
        <div
          class="row"
          *ngFor="let inputForm of inputs.controls; index as i"
          [formGroupName]="i"
        >
          <div class="row col-12 line">
            <div class="col-lg-3 col-12 form-group">
              <label>Label</label>
              <mat-form-field class="full-width" appearance="fill">
                <input matInput placeholder="Label" formControlName="label" />
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-12 form-group">
              <label>Field Name</label>
              <mat-form-field class="full-width" appearance="fill">
                <input matInput formControlName="fieldName" />
              </mat-form-field>
            </div>
            <div class="col-lg-2 col-12 form-group">
              <label>Type</label>
              <mat-form-field class="full-width" appearance="fill">
                <mat-select formControlName="inputType">
                  <mat-option
                    *ngFor="let type of inputTypes"
                    [value]="type.code"
                  >
                    {{ type.text }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-12 form-group">
              <label>Regex</label>
              <mat-form-field class="full-width" appearance="fill">
                <input matInput formControlName="regex" />
              </mat-form-field>
            </div>
            <div class="col-lg-1 col-12 form-group">
              <button
                type="button"
                mat-raised-button
                color="warn"
                (click)="remove(i)"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 form-group mg-t-8">
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="addForm()"
          >
            Add new
          </button>
          <button
            type="button"
            mat-raised-button
            color="accent"
            class="ml-2"
            (click)="preview()"
          >
            Preview
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card height-auto mt-3" *ngIf="submitted && inputValues">
    <div class="card-body">
      <div class="heading-layout">
        <h3 class="mb-3">Form Preview</h3>
      </div>
      <form [formGroup]="formDemo">
        <div class="row">
          <div
            class="col-lg-6 col-12 form-group"
            *ngFor="let field of inputValues"
          >
            <label>{{ field.label }}</label>
            <mat-form-field
              class="full-width"
              appearance="fill"
              *ngIf="field.inputType == 1"
            >
              <input type="text" matInput [formControlName]="field.fieldName"/>
            </mat-form-field>

            <mat-form-field
              class="full-width"
              appearance="fill"
              *ngIf="field.inputType == 2"
            >
              <input type="number" matInput [formControlName]="field.fieldName" />
            </mat-form-field>

            <mat-form-field
              class="full-width"
              appearance="fill"
              *ngIf="field.inputType == 3"
            >
              <textarea matInput [formControlName]="field.fieldName" ></textarea>
            </mat-form-field>

            <mat-form-field
              class="full-width"
              appearance="fill"
              *ngIf="field.inputType == 4"
            >
              <mat-select placeholder="Choose option" [formControlName]="field.fieldName">
                <mat-option> Option 1 </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-slide-toggle
              *ngIf="field.inputType == 5"
              class="ml-3"
              [formControlName]="field.fieldName"
            ></mat-slide-toggle>

            <mat-form-field
              class="full-width"
              appearance="fill"
              *ngIf="field.inputType == 6"
            >
              <input matInput [matDatepicker]="picker" [formControlName]="field.fieldName" />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field
              class="full-width"
              appearance="fill"
              *ngIf="field.inputType == 7"
            >
              <input matInput type="email" [formControlName]="field.fieldName" />
            </mat-form-field>
            <div class="error-txt-msg mb-2" *ngIf="formDemo.controls[field.fieldName].hasError('pattern')" style="color: red;">
                Incorrect format.
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
