.example-form {
  min-width: 150px;
  width: 100%;
}

.full-width {
  width: 100%;
}
.heading-layout h3 {
  color: #5873b8;
  font-weight: 400;
}
.heading-layout h5 {
  color: #32329f;
  font-weight: 400;
}

.card-body {
  background-color: #ebf6fc;
}

.line {
  align-items: center;
}

.error-txt-msg {
  font-size: 12px;
}