<div [formGroup]="parentForm">
  <mat-form-field
    class="full-width"
    appearance="fill"
    *ngIf="type == inputTypes.Text"
  >
    <input type="text" matInput [formControlName]="fieldName" />
    <button matSuffix mat-icon-button>
      <mat-icon
      *ngIf="validation != ''"
      class="info-icon"
      matTooltip="Please enter regular expression to validate the field. Required format: {{validation}}"
      matTooltipPosition="right"
      matTooltipClass="tooltip-info"
      >info</mat-icon
    >
    </button>
  </mat-form-field>

  <mat-form-field
    class="full-width"
    appearance="fill"
    *ngIf="type == inputTypes.Textarea"
  >
    <textarea matInput [formControlName]="fieldName"></textarea>
  </mat-form-field>

  <mat-form-field
    class="full-width"
    appearance="fill"
    *ngIf="type == inputTypes.Date"
  >
    <input matInput [matDatepicker]="picker" [formControlName]="fieldName" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
