@import "./theme.scss";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}

html,
body {
  height: 100%;
}

button:focus {
  outline: none;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: $field-color;
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.full-width {
  width: 100%;
}
.heading-layout h3 {
  color: $heading-color;
  font-weight: 400;
}
.heading-layout h5 {
  color: $heading-level-2-color;
  font-weight: 400;
}

.card-body {
  background-color: $background-color;
}

.line {
  align-items: center;
}

.icon-button {
  min-width: 50px !important;
  padding: 0px !important;
}
.error-txt-msg {
  font-size: 12px;
  color: $error-color;
}
